/* Sticky Footer */

$footer-height: 68px;

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: $footer-height + 20;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: $footer-height;
    background-color: #f5f5f5;

    margin-top: 2em;
}

/* WMD Editor */

$wmd-height-large: 600px;
$wmd-height-medium: 450px;
$wmd-height-small: 300px;

$wmd-buttons-height: 35px;

#wmd-input {
    height: (($wmd-height-large / 2) - 20px);
    height: 45vh;    
}
#wmd-preview-container {
    max-height: (($wmd-height-large / 2) - 20px);
    max-height: 45vh;   
	overflow: auto; 
}

@media screen and (max-height: $wmd-height-large) {
    #wmd-input {
        height: ($wmd-height-large - $wmd-buttons-height);
        height: 80vh;
    }
    
    #wmd-preview-container {
        max-height: ($wmd-height-large - $wmd-buttons-height);
        max-height: 80vh;
    }
}
@media screen and (max-height: $wmd-height-medium) {
    #wmd-input {
        height: ($wmd-height-medium - $wmd-buttons-height);
        height: 90vh;
    }
    #wmd-preview-container {
        max-height: ($wmd-height-medium - $wmd-buttons-height);
        max-height: 90vh;    
    }
}
@media screen and (max-height: $wmd-height-small) {
    #wmd-input {
        height: ($wmd-height-small - $wmd-buttons-height);
        height: 85vh;
    }
    #wmd-preview-container {
        max-height: ($wmd-height-small - $wmd-buttons-height);
        max-height: 85vh;    
    }
}

/* Autocomplete */
.autocomplete-suggestions {
    background-color: #fff;
    border: 1px solid #ccc;

    .autocomplete-suggestion {
        white-space: nowrap;
        overflow: hidden;

        a {
            color: #000;
            display: inline-block;
            padding: 0.15em 0.5em;
            text-decoration: none;
            width: 100%;
        }

        small {            
            /*padding: 0.2em 0.5em;*/
            width: 100%;
        }
    }
    .autocomplete-suggestion.contains-query {
        border-top: 1px solid #ccc;
        
        a {
            font-style: italic;
        }
    }
}

/* Site */

#wmd-container {
    margin-top: 20px;
}

a.external-link .glyphicon {
    padding-left: 0.5em;
}

.toc ol {
    list-style: none; 
    /*font: 11px arial;*/ 
    margin: 0px 0px 0px 10px; 
    padding: 0;
    counter-reset: num;

    li:before {
        content: counter(num) '. ';
        counter-increment: num;
    }

    ol li:before {
        content: counters(num, '.') ' ';
    }
}

a.no-article {
    border-bottom: 1px dashed #a94442;
    color: #a94442;

    &:hover, &:active {
        text-decoration: none;
    }
}

.revisions-diff {
    ins {
        background-color: #cfc;
        text-decoration: none;
    } 

    del {
        color: #999;
        background-color:#FEC8C8;
    }
}

/* AngularJS */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
  display: none !important;
}

ng\:form {
  display: block;
}

.ng-animate-block-transitions {
  transition:0s all!important;
  -webkit-transition:0s all!important;
}

.ng-hide-add-active, .ng-hide-remove {
  display: block!important;
}