<div id="message-box">
    <!--[if lt IE 10]>
        <div class="alert alert-warning">
            <p>You are using an outdated browser.
                Please <a href="http://browsehappy.com/" class="alert-link">upgrade your browser</a>
                or <a href="http://www.google.com/chromeframe/?redirect=true" class="alert-link">install Google Chrome Frame</a>
                to better experience this website.</p>
        </div>
    <![endif]-->
    <noscript class="alert alert-info">
        <p>
            For <strong>optimal user-experience on this website</strong>
            please <a href="http://www.activatejavascript.org/" class="alert-link">activate JavaScript</a>.
        </p>
    </noscript>
</div>