@model WikiListViewModel

<h1>All Articles</h1>

@if (Model.Articles.Any())
{
    <ul class="list-group">
        @foreach (var article in Model.Articles)
        {
            <li class="list-group-item">
                <a href="@Url.WikiArticle(article.Value)">@article.Key</a>
            </li>
        }
    </ul>
}
else
{
    <div class="bg-warning">
        No articles created yet
    </div>
}