@model WikiListViewModel

<h1 ﻿class="page-header">All Articles</h1>

@if (Model.Articles.Any())
{
    <ul class="list-group">
        @foreach (var article in Model.Articles)
        {
            <li class="list-group-item">
                <a href="@Url.WikiArticle(article.Key)">@article.Value</a>
            </li>
        }
    </ul>
}
else
{
    <div class="bg-warning">
        No articles created yet
    </div>
}

@if (Model.Drafts.Any())
{
    <h2>Draft</h2>

    <ul class="list-group">
        @foreach (var draft in Model.Drafts)
        {
            <li class="list-group-item">
                <a href="@Url.WikiArticle(draft.Key)">@draft.Value</a>
            </li>
        }
    </ul>
}