@{
    const string ngDisabled = "(articleRevision && articleRevision.$resolved === false) ||"
                              + "(articleSaving && articleSaving.$resolved === false)";
}

@*
    TODO: Markdown-help in overlay
    http://stackoverflow.com/editing-help
*@

<div id="wmd-container" class="form-group">
    <small ng-show="articleRevision.dateId" class="pull-right">
        Revision:
        <a ui-sref="history.preview({ revisionDate: articleRevision.dateId })" utc-time="articleRevision.dateFormatted">
            {{articleRevision.dateFormatted | localUtcTime}}
        </a>
    </small>
    <div ng-show="articleRevision.dateId" class="clearfix"></div>
    
    <div id="wmd-panel">
        <div id="wmd-button-bar"></div>
        <textarea id="wmd-input" ng-model="articleRevision.markdownContent" ng-disabled="@ngDisabled"
                  wmd-editor class="form-control"></textarea>
    </div>
</div>

<div class="label label-primary pull-right">Preview</div>
<div class="clearfix"></div>

<div id="wmd-preview-container" class="panel panel-primary panel-body">
    <div id="wmd-preview"></div>
</div>

<div class="form-group">
    <label for="edit-summary">Edit summary</label>
    <input id="edit-summary" type="text" ng-model="articleRevision.editSummary" ng-disabled="@ngDisabled" class="form-control" />
</div>

<div class="form-group">
    <button ng-click="saveArticleRevision()" ng-disabled="@ngDisabled" class="btn btn-primary">
        Save
    </button>
    <button ng-click="saveArticleRevision(true)" ng-disabled="@ngDisabled" class="btn btn-warning">
        Publish
    </button>

    <span loading="articleSaving"></span>
</div>