<h2>
    Tags <small class="glyphicon glyphicon-tags"></small>
</h2>

<div class="panel panel-default">
    <div class="panel-body">
        <form dirty-form-unload-confirm dirty-form-reset-on="formDataSaved">
            <div class="form-group">
                <label for="article-tags" class="sr-only">Tags</label>
                <input id="article-tags" type="text"
                       ng-model="articleTags" ng-disabled="articleTagsLoading && !articleTagsLoading.$resolved"
                       class="form-control" />

                <span class="help-block">Semi-colon seperated</span>
            </div>
        </form>
    </div>

    <div class="panel-footer">
        <button ng-click="saveArticleTags()"
                ng-disabled="(articleTagsLoading && !articleTagsLoading.$resolved) ||
                (articleTagsSaving && !articleTagsSaving.$resolved)"
                class="btn btn-primary">
            Save
        </button>
        <span loading="articleTagsSaving"></span>
    </div>
</div>

<h2>
    Redirect titles <small class="glyphicon glyphicon-share-alt"></small>
</h2>

<div class="panel panel-default">
    <div class="panel-body">
        <form dirty-form-unload-confirm dirty-form-reset-on="formDataSaved">
            <div class="form-group">
                <label for="article-redirects" class="sr-only">Redirect titles</label>
                <input id="article-redirects" type="text"
                       ng-model="articleRedirects" ng-disabled="articleRedirectsLoading && !articleRedirectsLoading.$resolved"
                       class="form-control" />

                <span class="help-block">Semi-colon seperated</span>
            </div>
        </form>
    </div>
    
    <div class="panel-footer">
        <button ng-click="saveArticleRedirects()"
                ng-disabled="(articleRedirectsLoading && !articleRedirectsLoading.$resolved) || 
                (articleRedirectsSaving && !articleRedirectsSaving.$resolved)"
                class="btn btn-primary">
            Save
        </button>
        <span loading="articleRedirectsSaving"></span>
    </div>
</div>

@*<h2>
    Meta <small class="glyphicon glyphicon-share"></small>
</h2>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="articleMeta.isHidden" />
                    Marked as hidden
                </label>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <button ng-click="saveArticleMeta()" class="btn btn-primary">Save</button>
    </div>
</div>*@