<div class="row">
    <div class="form-group col-lg-2 col-lg-offset-10 col-md-3 col-md-offset-9 col-sm-4 col-sm-offset-8">
        <select ng-options="revision.key as revision.value for revision in articleRevisions"
                ng-model="selectedRevision" ng-change="articleRevisionChange(selectedRevision)"
                ng-hide="articleRevisions && !articleRevisions.length"
                ng-disabled="(articleRevisions && !articleRevisions.$resolved) || (articleRevision && !articleRevision.$resolved)"
                class="form-control"></select>
    </div>
</div>

@*<div class="form-group">
    <label for="title-editor">Title</label>
    <input id="title-editor" type="text" ng-value="articleSlug" disabled="disabled" class="form-control" />
</div>*@

<div id="wmd" class="form-group">
    <div id="wmd-panel">
        <div id="wmd-button-bar"></div>
        <textarea id="wmd-input" ng-model="articleEdit.markdownContent" rows="20"
                  ng-disabled="articleRevision && !articleRevision.$resolved" class="form-control"></textarea>
    </div>
</div>

<div class="form-group">
    <label for="edit-summary">Edit summary</label>
    <input id="edit-summary" type="text" ng-model="articleEdit.editSummary" class="form-control" />
</div>

<div class="form-group">
    <button type="submit" class="btn btn-default">Submit</button>

    @*<span>
        <a href="@(Model.IsCreateMode ? Url.Empty() : Url.WikiArticle(Model.ArticleSlug))" class="btn btn-link">Close</a>
    </span>*@
</div>

<div class="article-html-preview">
    <h2 id="article-preview">Preview</h2>
    <div id="wmd-preview"></div>
</div>