<div class="form-group">
    <label for="article-tags">Tags</label>
    <input id="article-tags" type="text" ng-model="articleMeta.tags" class="form-control" />
</div>

<div class="form-group">
    <label for="article-redirects">Redirect titles (semi-colon seperated titles)</label>
    <input id="article-redirects" type="text" ng-model="articleMeta.redirects" class="form-control" />
</div>